.message {
  display: block;
  padding: 10px;
  margin: 20px 0;
  background: #999;
}

.message-poster {
  font-style: italic;
}

.message-body {
  font-size: 120%;
}

.form-horizontal {
  margin-bottom: 50px;
}

.errors {
  margin-top: 20px;
}

.error {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  background: red;
  color: white;
}